<a href="https://colab.research.google.com/github/iesous-kurios/famprom/blob/master/HHAA_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# load excel file containing HMIS data
df_new = pd.read_excel('/content/July_OD.xlsx')
df_old = pd.read_excel('/content/JuneOD.xlsx')

In [ ]:
# create new dataframe that only has guests in feb that were not served in jan
df = df_new[~df_new.isin(df_old)].dropna(how='all')

In [ ]:
df = df.dropna(subset=['3.6 Gender'], how='all')

In [ ]:
#df = pd.read_excel('/content/ClientTrackExport (10).xlsx')

In [ ]:
# count of guests served in feb that were not served in jan
df['5.8 Personal ID'].value_counts().sum()

50

In [ ]:
uniqueValues = df['5.8 Personal ID'].nunique()
 
print('Unique elements in column "5.8 Personal ID" ')
print(uniqueValues)

Unique elements in column "5.8 Personal ID"
50

In [ ]:
# display how many total IDs are found in original file
df['5.8 Personal ID'].value_counts().sum()

50

In [ ]:
# remove the duplicates
df = df.drop_duplicates(subset='5.8 Personal ID', keep='first')

In [ ]:
# get new number of total IDs to make sure the code worked
df['5.8 Personal ID'].value_counts().sum()

50

In [ ]:
# make sure total unduplicated guests in dataframe is equal to count of unique values

assert(df['5.8 Personal ID'].value_counts().sum() == uniqueValues)

# print success message if above code proves that only unduplicated guests are in our dataframe

print('Your data set only contains unduplicated guests')

# the print statement will fail to print if the number of guests in your dataframe is different from number of unduplicated guests

Your data set only contains unduplicated guests

In [ ]:

counties = pd.read_excel('/content/uszips.xlsx')

In [ ]:
"""from sqlalchemy.engine import create_engine

engine = create_engine('postgres://vytvspcu:dY-9LiIppKfYL94d9ShVXApCBayxPu9Z@drona.db.elephantsql.com:5432/vytvspcu') 
conn = engine.connect()

counties.to_sql('zips', engine, if_exists='replace')

conn.close()
engine.dispose()"""

"from sqlalchemy.engine import create_engine\n\nengine = create_engine('postgres://vytvspcu:dY-9LiIppKfYL94d9ShVXApCBayxPu9Z@drona.db.elephantsql.com:5432/vytvspcu') \nconn = engine.connect()\n\ncounties.to_sql('zips', engine, if_exists='replace')\n\nconn.close()\nengine.dispose()"

In [ ]:
counties.head()

   V5 Zip    V5 City     V5 State county_name
0     601   Adjuntas  Puerto Rico    Adjuntas
1     602     Aguada  Puerto Rico      Aguada
2     603  Aguadilla  Puerto Rico   Aguadilla
3     606    Maricao  Puerto Rico     Maricao
4     610     Anasco  Puerto Rico      Añasco

In [ ]:
counties.tail()

       V5 Zip         V5 City    V5 State            county_name
33095   99925         Klawock      Alaska  Prince of Wales-Hyder
33096   99926      Metlakatla      Alaska  Prince of Wales-Hyder
33097   99927     Point Baker      Alaska  Prince of Wales-Hyder
33098   99929        Wrangell      Alaska               Wrangell
33099   99016  Spokane Valley  Washington                Spokane

In [ ]:
v5 = df[['V5 Prior Address', 'V5 State', 'V5 Zip']].copy()

In [ ]:
v5.sample(5)

    V5 Prior Address V5 State   V5 Zip
75               NaN      NaN      NaN
56               NaN      NaN      NaN
31               NaN      NaN      NaN
99  6908 E Mansfield       WA  99212.0
85               NaN      NaN      NaN

In [ ]:
v5 = v5.merge(counties, on='V5 Zip')

In [ ]:
v5.head()

        V5 Prior Address V5 State_x  ...  V5 State_y county_name
0          111 W 3rd Ave         MT  ...     Montana     Ravalli
1       1770 E Rabbit Rd         AZ  ...     Arizona     Yavapai
2  12925 E Mansfield Ave         WA  ...  Washington     Spokane
3       2808 S. Assembly         WA  ...  Washington     Spokane
4        822 E North Ave         WA  ...  Washington     Spokane

[5 rows x 6 columns]

In [ ]:
v5.county_name.value_counts(normalize=False)

Spokane       8
Whitman       1
Cowlitz       1
Bexar         1
Snohomish     1
Yavapai       1
Montgomery    1
Ravalli       1
Name: county_name, dtype: int64

In [ ]:
59/157

0.37579617834394907

In [ ]:
v5['V5 City'].value_counts()

Spokane           6
Spokane Valley    2
Hamilton          1
Pullman           1
Castle Rock       1
San Antonio       1
Conroe            1
Everett           1
Mayer             1
Name: V5 City, dtype: int64

In [ ]:
98/233

0.4206008583690987

In [ ]:
def get_count(city):
    count = 0
    for row in v5['V5 City']:
        if row == city:
            count += 1
    return count

In [ ]:
city_list = ['Cheney', 'Spokane Valley', 'Veradale/Spokane Valley', 'Deer Park', 'Medical Lake', 'Liberty Lake', 'Waverly', 'Latah', 'Fairfield', 'Rockford', 'Spangle', 'Airway Heights']

In [ ]:
for item in city_list:
    print("Number served in", item, "is", get_count(item))

Number served in Cheney is 0
Number served in Spokane Valley is 2
Number served in Veradale/Spokane Valley is 0
Number served in Deer Park is 0
Number served in Medical Lake is 0
Number served in Liberty Lake is 0
Number served in Waverly is 0
Number served in Latah is 0
Number served in Fairfield is 0
Number served in Rockford is 0
Number served in Spangle is 0
Number served in Airway Heights is 0

In [ ]:
# race info

df['3.4 Race'].value_counts()

White                               20
Black or African American            7
Multi-Racial                         5
American Indian or Alaska Native     4
Data not collected                   1
Name: 3.4 Race, dtype: int64

In [ ]:
# ethnicity

df['3.5 Ethnicity'].value_counts()

Non-Hispanic/Latino    24
Hispanic/Latino         7
Name: 3.5 Ethnicity, dtype: int64

In [ ]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()

In [ ]:
# print total of unique household IDs
unique_households

24

In [ ]:
# double check unique households with another method
uniquehouseholds = df['5.9 Household ID'].unique()

len(uniquehouseholds)

24

In [ ]:
df['4.2 Income Total at Entry'].value_counts()

1200.0    2
569.0     2
2400.0    1
877.0     1
711.0     1
650.0     1
280.0     1
363.0     1
460.0     1
1460.0    1
557.0     1
700.0     1
522.0     1
616.0     1
734.0     1
Name: 4.2 Income Total at Entry, dtype: int64

In [ ]:
df['30-50 MFI'] = df['4.2 Income Total at Entry'] >= 1700

In [ ]:
df['30 MFI'] = df['4.2 Income Total at Entry'] <= 1700

In [ ]:
df['30 MFI'].value_counts()

False    34
True     16
Name: 30 MFI, dtype: int64

In [ ]:
df['30-50 MFI'].value_counts()

False    49
True      1
Name: 30-50 MFI, dtype: int64

In [ ]:
df['3.6 Gender'].value_counts(normalize=False)

Male                                                           26
Female                                                         23
Gender Non-Conforming (i.e. not exclusively male or female)     1
Name: 3.6 Gender, dtype: int64

In [ ]:
# guests that stayed 60 days or less

df['60 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 60

df['60 or less'].value_counts()

True     36
False    14
Name: 60 or less, dtype: int64

In [ ]:
df['90 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 90

df['90 or less'].value_counts()

True     43
False     7
Name: 90 or less, dtype: int64

In [ ]:
df['3.12 Exit Destination'].value_counts()

Rental by client, no ongoing housing subsidy                                                                                     4
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)    4
Rental by client, other ongoing housing subsidy                                                                                  2
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             2
Name: 3.12 Exit Destination, dtype: int64

In [ ]:
pd.pivot_table(df, index='5.9 Household ID', columns=['4.2 Income Total at Entry', '4.2 Income Total at Exit'], aggfunc='sum')

                          2.6 Federal Grant Programs  ... YAHP Referral Most Recent
4.2 Income Total at Entry                     877.0   ...                    1200.0
4.2 Income Total at Exit                      877.0   ...                    1200.0
5.9 Household ID                                      ...
130360.0                                         NaN  ...                       0.0
130501.0                                         NaN  ...                       0.0
130621.0                                         0.0  ...                       NaN

[3 rows x 154 columns]

In [ ]:
df['increased'] = df['4.2 Income Total at Exit'] > df['4.2 Income Total at Entry']

In [ ]:
df['increased'].value_counts()

False    50
Name: increased, dtype: int64

In [ ]:
og = pd.read_excel('/content/FP NMTE Final Mailing List.xlsx', sheet_name=0)

givers = pd.read_excel('/content/FP NMTE Final Mailing List.xlsx', sheet_name=2)

FileNotFoundError: ignored

In [ ]:
og.head()

In [ ]:
givers.head()

In [ ]:
print(givers.shape)
print(og.shape)

In [ ]:
df = og[~og['Breeze ID'].isin(givers_list)].dropna(how='all')

In [ ]:
df.shape

In [ ]:
df.to_excel('/content/inogbutntogivers.xlsx')

In [ ]:
givers_list = givers['Person ID']