<a href="https://colab.research.google.com/github/iesous-kurios/famprom/blob/master/HHAA_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [14]:
# load excel file containing HMIS data
df_new = pd.read_excel('/content/OD_Dec_2020.xlsx')
df_old = pd.read_excel('/content/OD_Nov_2020.xlsx')

In [15]:
# create new dataframe that only has guests in feb that were not served in jan
df = df_new[~df_new.isin(df_old)].dropna(how='all')

In [16]:
df = df.dropna(subset=['3.6 Gender'], how='all')

In [17]:
#df = pd.read_excel('/content/ClientTrackExport (10).xlsx')

In [18]:
# count of guests served in feb that were not served in jan
df['5.8 Personal ID'].value_counts().sum()

40

In [19]:
uniqueValues = df['5.8 Personal ID'].nunique()
 
print('Unique elements in column "5.8 Personal ID" ')
print(uniqueValues)

Unique elements in column "5.8 Personal ID"
40

In [20]:
# display how many total IDs are found in original file
df['5.8 Personal ID'].value_counts().sum()

40

In [21]:
# remove the duplicates
df = df.drop_duplicates(subset='5.8 Personal ID', keep='first')

In [22]:
# get new number of total IDs to make sure the code worked
df['5.8 Personal ID'].value_counts().sum()

40

In [23]:
# make sure total unduplicated guests in dataframe is equal to count of unique values

assert(df['5.8 Personal ID'].value_counts().sum() == uniqueValues)

# print success message if above code proves that only unduplicated guests are in our dataframe

print('Your data set only contains unduplicated guests')

# the print statement will fail to print if the number of guests in your dataframe is different from number of unduplicated guests

Your data set only contains unduplicated guests

In [24]:

counties = pd.read_excel('/content/uszips.xlsx')

In [25]:
"""from sqlalchemy.engine import create_engine

engine = create_engine('postgres://vytvspcu:dY-9LiIppKfYL94d9ShVXApCBayxPu9Z@drona.db.elephantsql.com:5432/vytvspcu') 
conn = engine.connect()

counties.to_sql('zips', engine, if_exists='replace')

conn.close()
engine.dispose()"""

"from sqlalchemy.engine import create_engine\n\nengine = create_engine('postgres://vytvspcu:dY-9LiIppKfYL94d9ShVXApCBayxPu9Z@drona.db.elephantsql.com:5432/vytvspcu') \nconn = engine.connect()\n\ncounties.to_sql('zips', engine, if_exists='replace')\n\nconn.close()\nengine.dispose()"

In [26]:
counties.head()

   V5 Zip    V5 City     V5 State county_name
0     601   Adjuntas  Puerto Rico    Adjuntas
1     602     Aguada  Puerto Rico      Aguada
2     603  Aguadilla  Puerto Rico   Aguadilla
3     606    Maricao  Puerto Rico     Maricao
4     610     Anasco  Puerto Rico      Añasco

In [27]:
counties.tail()

       V5 Zip         V5 City    V5 State            county_name
33095   99925         Klawock      Alaska  Prince of Wales-Hyder
33096   99926      Metlakatla      Alaska  Prince of Wales-Hyder
33097   99927     Point Baker      Alaska  Prince of Wales-Hyder
33098   99929        Wrangell      Alaska               Wrangell
33099   99016  Spokane Valley  Washington                Spokane

In [28]:
v5 = df[['V5 Prior Address', 'V5 State', 'V5 Zip']].copy()

In [29]:
v5.sample(5)

    V5 Prior Address V5 State   V5 Zip
42               NaN      NaN      NaN
29               NaN      NaN      NaN
24               NaN      NaN      NaN
38               NaN      NaN      NaN
1   2808 S. Assembly       WA  99207.0

In [30]:
v5 = v5.merge(counties, on='V5 Zip')

In [31]:
v5.head()

         V5 Prior Address V5 State_x  ...  V5 State_y county_name
0   12925 E Mansfield Ave         WA  ...  Washington     Spokane
1         14425 E Mission         WA  ...  Washington     Spokane
2        2808 S. Assembly         WA  ...  Washington     Spokane
3        201 S Norris Ave         AZ  ...     Arizona        Pima
4  3017 W. Walnut Hill Ln         TX  ...       Texas      Dallas

[5 rows x 6 columns]

In [32]:
v5.county_name.value_counts(normalize=False)

Spokane    3
Dallas     1
Denver     1
Pima       1
Name: county_name, dtype: int64

In [33]:
59/157

0.37579617834394907

In [34]:
v5['V5 City'].value_counts()

Spokane Valley    2
Denver            1
Tucson            1
Spokane           1
Irving            1
Name: V5 City, dtype: int64

In [35]:
98/233

0.4206008583690987

In [36]:
def get_count(city):
    count = 0
    for row in v5['V5 City']:
        if row == city:
            count += 1
    return count

In [37]:
city_list = ['Cheney', 'Spokane Valley', 'Veradale/Spokane Valley', 'Deer Park', 'Medical Lake', 'Liberty Lake', 'Waverly', 'Latah', 'Fairfield', 'Rockford', 'Spangle', 'Airway Heights']

In [38]:
for item in city_list:
    print("Number served in", item, "is", get_count(item))

Number served in Cheney is 0
Number served in Spokane Valley is 2
Number served in Veradale/Spokane Valley is 0
Number served in Deer Park is 0
Number served in Medical Lake is 0
Number served in Liberty Lake is 0
Number served in Waverly is 0
Number served in Latah is 0
Number served in Fairfield is 0
Number served in Rockford is 0
Number served in Spangle is 0
Number served in Airway Heights is 0

In [39]:
# race info

df['3.4 Race'].value_counts()

Multi-Racial                                 7
White                                        7
American Indian or Alaska Native             4
Native Hawaiian or Other Pacific Islander    2
Black or African American                    2
Name: 3.4 Race, dtype: int64

In [40]:
# ethnicity

df['3.5 Ethnicity'].value_counts()

Non-Hispanic/Latino    8
Hispanic/Latino        5
Name: 3.5 Ethnicity, dtype: int64

In [41]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()

In [42]:
# print total of unique household IDs
unique_households

19

In [43]:
# double check unique households with another method
uniquehouseholds = df['5.9 Household ID'].unique()

len(uniquehouseholds)

19

In [44]:
df['4.2 Income Total at Entry'].value_counts()

800.0     1
670.0     1
569.0     1
1484.0    1
700.0     1
Name: 4.2 Income Total at Entry, dtype: int64

In [45]:
df['30-50 MFI'] = df['4.2 Income Total at Entry'] >= 1700

In [46]:
df['30 MFI'] = df['4.2 Income Total at Entry'] <= 1700

In [47]:
df['30 MFI'].value_counts()

False    35
True      5
Name: 30 MFI, dtype: int64

In [48]:
df['30-50 MFI'].value_counts()

False    40
Name: 30-50 MFI, dtype: int64

In [49]:
df['3.6 Gender'].value_counts(normalize=False)

Female                                                         20
Male                                                           19
Gender Non-Conforming (i.e. not exclusively male or female)     1
Name: 3.6 Gender, dtype: int64

In [50]:
# guests that stayed 60 days or less

df['60 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 60

df['60 or less'].value_counts()

True     20
False    20
Name: 60 or less, dtype: int64

In [51]:
df['90 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 90

df['90 or less'].value_counts()

True     28
False    12
Name: 90 or less, dtype: int64

In [52]:
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                                   4
Hotel or Motel paid for without Emergency Shelter Voucher                                                                        3
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             3
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)    2
Staying or living with family, permanent tenure                                                                                  1
Name: 3.12 Exit Destination, dtype: int64

In [53]:
pd.pivot_table(df, index='5.9 Household ID', columns=['4.2 Income Total at Entry', '4.2 Income Total at Exit'], aggfunc='sum')

                          3.917 Stayed Less Than 90 Days  ... YAHP Referral Most Recent
4.2 Income Total at Entry                          700.0  ...                     700.0
4.2 Income Total at Exit                          708.06  ...                    708.06
5.9 Household ID                                          ...
129184                                               0.0  ...                       0.0

[1 rows x 77 columns]

In [54]:
df['increased'] = df['4.2 Income Total at Exit'] > df['4.2 Income Total at Entry']

In [55]:
df['increased'].value_counts()

False    39
True      1
Name: increased, dtype: int64

In [56]:
og = pd.read_excel('/content/FP NMTE Final Mailing List.xlsx', sheet_name=0)

givers = pd.read_excel('/content/FP NMTE Final Mailing List.xlsx', sheet_name=2)

FileNotFoundError: ignored

In [ ]:
og.head()

In [ ]:
givers.head()

In [ ]:
print(givers.shape)
print(og.shape)

In [ ]:
df = og[~og['Breeze ID'].isin(givers_list)].dropna(how='all')

In [ ]:
df.shape

In [ ]:
df.to_excel('/content/inogbutntogivers.xlsx')

In [ ]:
givers_list = givers['Person ID']